
{% block title %}
    Contact Us -
{% endblock %}
{% block custom_css %}
    {% load recaptcha2 %}
    {% recaptcha_init %}
    {% load static %}
    <link rel="stylesheet" href="{% static 'main/css/contact_us.css' %}"/>

{% endblock %}
{% block container %}
 <section class="all_contact_info">
            {% if success %}
                <div class="alert block alert-success">
                    <a class="close" data-dismiss="alert" href="#">X</a>
                    <h4>Congratulation!</h4>
                    {{ success }}
                </div>
            {% endif %}
            <div class="container">
                <div class="row contact_row">
                    <div class="col-sm-5 contact_info">
                        <h2>Contact Info</h2>
                        <div class="location">
                            <div class="location_laft">
                                <a class="f_location" href="#">location</a>
                                <a href="#">phone</a>
                                <a href="#">email</a>
                            </div>
                            <div class="address">
                                <a href="#">6639 pleasant valley Rd <br> Friendship NY 14739 </a>
                                <a href="#">+(585) 307 0444</a>
                                <a href="#">callbobmack@live.com</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-7 contact_info send_message form-group">
                        <h2>GET IN TOUCH & FEEDBACK</h2>
                        <form class="form-inline contact_box" method="post">
                            {% csrf_token %}
                            {{ form.media }}
                            {{ form.as_table }}
                            <button type="submit" class="btn btn-default">Send Message</button>
                        </form>
                    </div>
                </div>
            </div>
        </section>
{% endblock %}