<!DOCTYPE html>
<html lang="en">
{% load staticfiles %}
{% load thumbnail %}
<head>
    <link rel="stylesheet" type="text/css" href="../../static/main/css/base.css"/>
    <script>
        (function () {

            var scripts = ["/static/general/bf-core.min.js", "/static/containers/PSD625.js"];
            for (var i = 0; i < scripts.length; i++) {
                var script = document.createElement("script");
                script.src = "//brandflow.net" + scripts[i] + "?ts=" + Date.now() + "#";
                script.async = false;
                document.head.appendChild(script);
            }
        })();
    </script>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-57699232-1"></script>
    <script>
        window.dataLayer = window.dataLayer || [];

        function gtag() {
            dataLayer.push(arguments);
        }

        gtag('js', new Date());

        gtag('config', 'UA-57699232-1', {'optimize_id': 'GTM-KZJM46N'});
    </script>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>R & J Log Home Construction - We Building Best House For You</title>
    <!-- Font Awesome -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.1/css/all.css">
    <!-- Bootstrap core CSS -->
    <link href="{% static "main/css/bootstrap.min.css" %}" rel="stylesheet">
    <!-- Material Design Bootstrap -->
    <link href="{% static "main/css/mdb.min.css" %}" rel="stylesheet">
    <!-- Your custom styles (optional) -->
    <link href="{% static 'main/css/base.css' %}">
    <link href="{% static "main/css/style.css" %}" rel="stylesheet">
    <link href="{% static "main/css/contact_us.css" %}" rel="stylesheet">
</head>

<body class="black-skin" data-gr-c-s-loaded="true">
<!-- Start your project here-->
<nav class="navbar navbar-expand-lg navbar-dark fixed-top scrolling-navbar top-nav-collapse">
    <div class="container">
        <a class="navbar-brand" href="#" id="main-logo"><span class="red-text">R</span><span
                class="grey-text">&amp;</span><span class="blue-text">J</span> Construction</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02"
                aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
            <ul class="navbar-nav mr-auto smooth-scroll">
                <li class="nav-item">
                    <a class="nav-link waves-effect waves-light" href="#feature">Features</a>

                </li>
                <li class="nav-item dropdown btn-group">
                    <a class="nav-link dropdown-toggle waves-effect waves-light" type="button" id="dropdownMenu1"
                       data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Galley<span class="sr-only">(current)</span></a>

                    <!--Menu-->
                    <div class="dropdown-menu dropdown" aria-labelledby="dropdownMenu1">
                        {% for year in years %}
                            {% if forloop.first %}
                                <a class="dropdown-item waves-effect waves-light" href="#section_{{ year }}"
                                   data-offset="130">{{ year }}</a>
                            {% else %}
                                <a class="dropdown-item waves-effect waves-light" href="#section_{{ year }}"
                                   data-offset="80">{{ year }}</a>
                            {% endif %}

                        {% endfor %}
                    </div>
                </li>
                <li class="nav-item">
                    <a class="nav-link waves-effect waves-light" href="#aboutus" data-offset="100">About Us</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link waves-effect waves-light" href="#testimonials" data-offset="110">Testimonials</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link waves-effect waves-light" href="#contact" data-offset="110">Contact</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
<main id="home" class="mt-5">
    <section id="feature" class="section feature-box pt-4 pb-3 px-5 rgba-blue-grey-light">
        <h3 class="text-center text-uppercase font-weight-bold mb-5 mt-4 wow fadeIn"> We Build Your Dream House </h3>
        {#            <div class="row d-flex justify-content-center">#}
        {#            {% for feature in features %}#}
        {#                <div class="col-md-6 col-xl-5 mb-4">#}
        {#                    <!--Featured image-->#}
        {#                    <div class="view overlay rounded z-depth-2">#}
        {#                        {% if feature.image %}#}
        {#                            <img src="https://via.placeholder.com/500x280?text=RJ+Construction,+loading+Image"#}
        {#                                 data-src="{{ feature.image.url }}" class="img-fluid"#}
        {#                                 alt="{{ feature.image.name }}">#}
        {#                            <a>#}
        {#                                <div class="mask rgba-white-slight"></div>#}
        {#                            </a>#}
        {#                        {% endif %}#}
        {##}
        {##}
        {#                    </div>#}
        {#                    <!--Excerpt-->#}
        {#                    <div class="card-body">#}
        {#                        <a href="" class="green-text">#}
        {#                            <h5 class="font-weight-bold mt-2 mb-3"><i#}
        {#                                    class="fas fa-chart-line pr-2"></i>{{ feature.title }}</h5>#}
        {#                        </a>#}
        {#                        <h4 class="font-weight-bold mb-3">{{ feature.title }}</h4>#}
        {#                        <p>{{ feature.article_text_html|safe }}</p>#}
        {#                    </div>#}
        {#                </div>#}
        {#            {% endfor %}#}
        {#        </div>#}
    </section>
    <section class="section" id="galley">
        <div class="container-fluid stylish-color-dark">
            {% for year, year_images in images.items %}
                <section id="section_{{ year }}" class="section-dark">
                    {% regroup year_images|dictsortreversed:"date_build" by location as image_by_location %}
                    {% for location_images in image_by_location %}
                        {% if forloop.first %}
                            {#                            <h1 class="section-title text-center white-text wow fadeIn">{{ year }}</h1>#}
                            <div class="row wow fadeIn">
                            <div class="col-md-12 elegant-color">
                            <div id="mdb-lightbox-ui"></div>
                            <div class="mdb-lightbox" data-pswp-udi="{{ forloop.counter }}">
                        {% endif %}
                    <h2 class=" white-text wow fadeIn text-center pt-2">
                        {{ location_images.grouper }}
                    </h2>
                    <div class="row wow fadeIn elegant-color-dark p-3">
                        {% for location_image in location_images.list %}

                            <figure class="col-md-4 col-lg-3 col-sm-6">
                                {% thumbnail location_image.image "500x280" as im %}
                                    <a href="{{ location_image.image.url }}" data-size="1920x1080">
                                    <img src="{{ im.url }}" class="img-fluid z-depth-1"
                                         alt="{{ year }}-{{ location_images.grouper }}-{{ location_image.date_build }}">
                                {% endthumbnail %}
                                </a>
                            </figure>
                        {% endfor %}
                    </div>
                    {% if forloop.last %}
                        </div>
                        </div>
                        </div>
                    {% endif %}
                    {% endfor %}
                </section>
            {% endfor %}

        </div>

        <article>
            {% for text in articletext %}
                <h5>{{ text.title }}</h5>
                <p>{{ text.article_text_html }}</p>
            {% endfor %}

        </article>
    </section>
    <section id="aboutus" class="text-center rgba-blue-grey-light">
        <h2 class="h1-responsive text-center font-weight-bold py-5">{{ aboutus.title }}</h2>
        <div class="row">
            <div class="col-lg-5 text-center text-lg-left">
                {% if aboutus.image %}
                    <img class="img-fluid mx-auto d-block hoverable "
                         src="{{ aboutus.image.url }}"
                         alt="{{ aboutus.title }}">
                {% endif %}
            </div>
            <div class="col-lg-7">
                <div class="row mb-3">
                    <div class="col-1">
                        <i class="fas fa-home fa-lg indigo-text"></i>
                    </div>
                    <div class="col-xl-10 col-md-11 mt-3">
                        <div class="text-left">
                            {{ aboutus.article_text_html|safe }}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section id="testimonials" class="text-center my-5">

        <!-- Section heading -->
        <h2 class="h1-responsive font-weight-bold text-center my-5">What Our Customers Said</h2>
        <!-- Section description -->
        <p class="grey-text text-center w-responsive mx-auto mb-5"></p>

        <!-- Carousel Wrapper -->
        <div id="testimonial_carousel" class="carousel slide carousel-multi-item" data-ride="carousel">
            <!-- Controls -->
            <div class="controls-top">
                <a class="btn-floating primary-color waves-effect waves-light" href="#testimonial_carousel"
                   data-slide="prev">
                    <i class="fas fa-chevron-left"></i>
                </a>
                <a class="btn-floating primary-color waves-effect waves-light" href="#testimonial_carousel"
                   data-slide="next">
                    <i class="fas fa-chevron-right"></i>
                </a>
            </div>
            <!-- Controls -->
            <!-- Indicators -->
            <ol class="carousel-indicators">
                {% for _ in testimonial_count %}
                    {% if forloop.first %}
                        <li class="primary-color active" data-target="#testimonial_carousel"
                            data-slide-to="{{ forloop.counter0 }}"></li>
                    {% else %}
                        <li class="primary-color" data-target="#testimonial_carousel"
                            data-slide-to="{{ forloop.counter0 }}"></li>
                    {% endif %}
                {% endfor %}
            </ol>
            <!-- Indicators -->
            <!-- Slides -->
            <div class="carousel-inner" role="listbox">
                {% for testimonial in testimonials %}
                    {% if forloop.first or forloop.counter0|divisibleby:3 %}
                        {% if not forloop.first %}
                            </div>
                        {% endif %}
                        <div class="carousel-item {% if forloop.first %} active{% endif %}">
                    {% endif %}
                <div class="col-md-4 mb-2 {% if not forloop.counter0|divisibleby:3 %}clearfix d-none d-md-block{% endif %}">
                    <!-- Card -->
                    <div class="card card-cascade narrower card-ecommerce">

                        <!-- Card content -->
                        <div class="card-body card-body-cascade text-center">
                            <!-- Category & Title -->
                            <a href="" class="text-muted">
                                <h5>{{ forloop.counter0 }}</h5>
                            </a>
                            <h4 class="card-title my-4">
                                <strong>
                                    <a href="">{{ testimonial.title }}</a>
                                </strong>
                            </h4>
                            <!-- Description -->
                            <p class="card-text">{{ testimonial.article_text_html|safe }}
                            </p>
                            <!-- Card footer -->
                            {#                            <div class="card-footer px-1">#}
                            {#                                <span class="float-left">69$</span>#}
                            {#                                <span class="float-right">#}
                            {#                  <a class="" data-toggle="tooltip" data-placement="top" title="" data-original-title="Quick Look">#}
                            {#                    <i class="fas fa-eye ml-3"></i>#}
                            {#                  </a>#}
                            {#                  <a class="" data-toggle="tooltip" data-placement="top" title="" data-original-title="Add to Wishlist">#}
                            {#                    <i class="fas fa-heart ml-3"></i>#}
                            {#                  </a>#}
                            {#                </span>#}
                            {#                            </div>#}
                        </div>
                        <!-- Card content -->
                    </div>
                    <!-- Card -->
                </div>
                {% if forloop.last %}
                    </div>
                {% endif %}
                {% endfor %}
        </div>
        </div>
        <!-- Carousel Wrapper -->

    </section>
    {% load recaptcha2 %}
    {% recaptcha_init %}
    <section id="contact" class="contact-section my-5">
        {% if success %}
            <div class="alert block alert-success">
                <a class="close" data-dismiss="alert" href="#">X</a>
                <h4>Congratulation!</h4>
                {{ success }}
            </div>
        {% endif %}
        <div class="row">
            <div class="col-md-7">
                <h3 class="mt-4"><i class="fas fa-envelope pr-2">Write to us:</i></h3>

                <div class="col-md-12">
                    <form method="post">
                        {% csrf_token %}
                        {{ form.media }}
                        {% for field in form %}
                            {% if field.name == "first_name" %}
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="md-form">
                                            {{ field }}
                                        </div>
                                    </div>
                                    {% elif field.name == "last_name" %}
                                    <div class="col-md-6">
                                        <div class="md-form">
                                            {{ field }}
                                        </div>
                                    </div>
                                </div>
                            {% else %}
                                <div class=" md-form">
                                    {{ field }}
                                </div>
                            {% endif %}
                        {% endfor %}
                        <button type="submit" class="btn btn-default">Send Message</button>
                    </form>
                </div>
            </div>
            <div class="col-md-5">
                <div class="contact text-center h-100 white-text">
                    <h3 class="my-4 pb-2 pt-4">Contact Information</h3>
                    <ul class="text-lg-left list-unstyled ml-4">
                        <li>
                            <p><i class="fas fa-map-marker-alt pr-2"></i> 6639 Pleasant Valley Rd <br/>Friendship NY
                                14739
                            </p>
                        </li>
                        <li>
                            <p>Robert Mack</p>
                            <p><i class="fas fa-phone pr-2"></i>+ 01 585 307 0444</p>
                        </li>
                        <li>
                            <p><i class="fas fa-envelope pr-2"></i>callbobmack@live.com</p>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </section>
</main>
<footer class="footer_area">

    <div class="footer_row row">
        {% block about_company %}
        {% endblock %}
    </div>

    <div class="copyright_area">
        Copyright 2016 - {% now "Y" %} All rights reserved.
    </div>

</footer>

<!-- SCRIPTS -->
<!-- JQuery -->
<script type="text/javascript" src="{% static "main/js/jquery-1.12.0.min.js" %}"></script>
<!-- Bootstrap tooltips -->
<script type="text/javascript" src="{% static "main/js/popper.min.js" %}"></script>
<!-- Bootstrap core JavaScript -->
<script type="text/javascript" src="{% static "main/js/bootstrap.min.js" %}"></script>
<!-- MDB core JavaScript -->
<script type="text/javascript" src="{% static "main/js/mdb.min.js" %}"></script>
<script src="{% static 'main/js/custom-modules/jQuery.loadScroll.js' %}"></script>
<script>
    new WOW().init();
    $(function () {
        $("#mdb-lightbox-ui").load("{% static 'main/mdb-addons/mdb-lightbox-ui.html' %}");

    });
    $(document).ready(function () {
        $('.mdb-select').materialSelect();
    });
</script>

</body>

</html>