{% extends 'home/base.html' %}
{% load staticfiles %}
{% load thumbnail %}

{% block main %}
  <!-- Start your project here-->
  <section id="feature" class="section feature-box pt-4 pb-3 px-5 rgba-blue-grey-light mt-5">
    <h3 class="text-center text-uppercase font-weight-bold mb-5 mt-4 wow fadeIn"> We Build Your Dream House </h3>
    <div class="row d-flex justify-content-center">
      {% for feature in features %}
        <div class="col-md-6 col-xl-5 mb-4">
          <!--Featured image-->
          <div class="view overlay rounded z-depth-2">
            {% if feature.image %}
              <img src="https://via.placeholder.com/500x280?text=RJ+Construction,+loading+Image"
                   data-src="{{ feature.image.url }}" class="img-fluid"
                   alt="{{ feature.image.name }}">
              <a>
                <div class="mask rgba-white-slight"></div>
              </a>
            {% endif %}


          </div>
          <!--Excerpt-->
          <div class="card-body">
            <a href="#" class="green-text">
              <h5 class="font-weight-bold mt-2 mb-3"><i
                  class="fas fa-chart-line pr-2"></i>{{ feature.title }}</h5>
            </a>
            <p>{{ feature.article_text_html|safe }}</p>
          </div>
        </div>
      {% endfor %}
    </div>
  </section>
  <section class="section-white" id="category_gallery">
    <div class="container-fluid stylish-color-dark">
      {% for category in categories %}
        <h2 class="white-text h2-responsive wow fadeIn text-center p-2">
          {{ category.title }}
        </h2>
        <ul id="{{ category.location.state }}_{{ category.id }}" class="list-unstyled row elegant-color-dark py-4">
          {% for image in category.get_image_url %}
            <li class="col-md-4 col-lg-3 col-xl-2 col-sm-6 col-6 text-center"
                data-responsive=""
                data-src="{{ image.url }}"
            >
              <figure class="figure">
                {% thumbnail image "250" as im %}
                  <a href="">
                  <img src="https://via.placeholder.com/500x280?text=RJ+Construction"
                       data-src="{{ im.url }}" class="img-thumbnail z-depth-1 lazyload"
                       alt="{{ year }}-{{ category }}-{{ category.location }}">
                {% endthumbnail %}
                </a>
              </figure>
            </li>
          {% endfor %}
        </ul>

      {% endfor %}
    </div>
  </section>
  <section id="aboutus" class="text-center rgba-blue-grey-light">
    <h2 class="h1-responsive text-center font-weight-bold py-5">{{ aboutus.title }}</h2>
    <div class="row">
      <div class="col-lg-5 text-center text-lg-left">
        {% if aboutus.image %}
          <img class="img-fluid mx-auto d-block hoverable "
               src="{{ aboutus.image.url }}"
               alt="{{ aboutus.title }}">
        {% endif %}
      </div>
      <div class="col-lg-7">
        <div class="row mb-3">
          <div class="col-1">
            <i class="fas fa-home fa-lg indigo-text"></i>
          </div>
          <div class="col-xl-10 col-md-11 mt-3">
            <div class="text-left p-3">
              {{ aboutus.article_text_html|safe }}
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  {% load recaptcha2 %}
  {% recaptcha_init %}
  <section id="contact" class="contact-section my-5">
    {% if success %}
      <div class="alert block alert-success">
        <a class="close" data-dismiss="alert" href="#">X</a>
        <h4>Congratulation!</h4>
        {{ success }}
      </div>
    {% endif %}
    <div class="row">
      <div class="col-md-7">
        <h3 class="mt-4"><i class="fas fa-envelope pr-2">Write to us:</i></h3>

        <div class="col-md-12">
          <form method="post">
            {% csrf_token %}
            {{ form.media }}
            {% for field in form %}
              {% if field.name == "first_name" %}
                <div class="row">
                  <div class="col-md-6">
                    <div class="md-form">
                      {{ field }}
                    </div>
                  </div>
                  {% elif field.name == "last_name" %}
                  <div class="col-md-6">
                    <div class="md-form">
                      {{ field }}
                    </div>
                  </div>
                </div>
              {% else %}
                <div class=" md-form">
                  {{ field }}
                </div>
              {% endif %}
            {% endfor %}
            <button type="submit" class="btn btn-default">Send Message</button>
          </form>
        </div>
      </div>
      <div class="col-md-5">
        <div class="contact text-center h-100 white-text">
          <h3 class="my-4 pb-2 pt-4">Contact Information</h3>
          <ul class="text-lg-left list-unstyled ml-4">
            <li>
              <p><i class="fas fa-map-marker-alt pr-2"></i> 6639 Pleasant Valley Rd <br/>Friendship NY
                14739
              </p>
            </li>
            <li>
              <p>Robert Mack</p>
              <p><i class="fas fa-phone pr-2"></i>+ 01 585 307 0444</p>
            </li>
            <li>
              <p><i class="fas fa-envelope pr-2"></i>callbobmack@live.com</p>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </section>
{% endblock %}

{% block scripts %}
  <script type="text/javascript">
      $(document).ready(function () {
          new WOW().init();
          $(document).ready(function () {
              $('.mdb-select').materialSelect();
          });
          {% for category in categories %}
              $('#{{ category.location.state }}_{{ category.id }}').lightGallery();
          {% endfor %}
          let image = document.querySelectorAll(".lazyload");
          new LazyLoad(image);
      });
  </script>
{% endblock %}