chardet==3.0.4
dj-database-url==0.5.0
Django==2.1.7
django-anymail==6.0
django-braces==1.13.0
django-ckeditor==5.6.1
django-dotenv==1.4.2
django-recaptcha2==1.4.1
django-resized==0.3.9
misaka==2.1.1
pycparser==2.19
python-decouple==3.1
python-dotenv==0.10.1
requests==2.21.0