certifi==2019.3.9
cffi==1.12.3
chardet==3.0.4
dj-database-url==0.5.0
Django==2.1.7
django-anymail==6.0
django-braces==1.13.0
django-ckeditor==5.6.1
django-crispy-forms==1.7.2
django-dotenv==1.4.2
django-js-asset==1.2.2
django-mptt==0.10.0
django-recaptcha2==1.4.1
idna==2.8
misaka==2.1.1
pycparser==2.19
python-decouple==3.1
python-dotenv==0.10.1
pytz==2019.1
redis==3.2.1
requests==2.21.0
six==1.12.0
sorl-thumbnail==12.5.0
urllib3==1.24.3
Wand==0.5.4
