{% extends 'home/base.html' %}

{% block main %}<!-- Intro -->
  <section class="view">
    <div class="col-md-12 vh-100">
      <div class="d-flex flex-column justify-content-center align-items-center h-100 p-5">
        <h3 class="heading display-4">Sorry</h3>
        <h1 class="heading display-3">404 Page</h1>
        <h4 class="subheading font-weight-bold">what you are looking for {{ request.path }} does not exists. return to
          main page</h4>
        <div class="mx-auto">
          <a href="{% url 'index_view' %}" type="button" class="btn btn-lily btn-margin btn-rounded text-black-50">Go
            Home <i class="fas fa-caret-right ml-3"></i></a>
        </div>
      </div>
    </div>

  </section>
  <!-- Intro -->
{% endblock %}
